<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Saiydur's ToDo</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1>Welcome Again <%= userName %> </h1>
        </div>
        <div class="box">
            <% for( let index = 0; index < newListItems.length; index++ ) { %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newListItems[index] %>
                    </p>
                </div>
            <% } %>
            <form action="/" method="post">
                <input type="text" name="todo" placeholder="Enter Your Task Here" autocomplete="off" />
                <button type="submit" name="button" >+</button>
            </form>
        </div>
        
    </body>
</html>